doctype html
html
	head
		title Gulp template by Coderiver GODs
		link(href="css/screen.css",rel="stylesheet")
		script(src="js/common.js")
	body
		h1 Gulp template by Coderiver GODs
		p.
			This template will help you to build your own Gulp working process.
		a.icon-codedby(href="#")
		a.icon-coderiver(href="#")
		