doctype html
html
	head
		title Gulp-tpl example page
		link(href="css/screen.css",rel="stylesheet")
		script(src="/min/scripts.js")
	body
		h1 Gulp-tpl
		p.
			This template will help you to build your own Gulp working process.
		a.icon-coderiver(href="#")
		